/*!
 * =====================================================
 * Common CSS Style File
 * =====================================================
 */

@font-face {
    font-family: "方正超粗黑";
    src: url("../fonts/FZCCH_GBK.ttf");
}

html,
body {
    font-family: "Microsoft Yahei";
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #e0e0e0;
}

table {
    background-color: #ffffff;
}

#menuContent {
    background-color: #ffffff;
}

.table {
    margin-bottom: 0px;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav li {
    font-size: 14px;
    list-style: none;
}

footer {
    padding: 15px;
}


/* position css style */

.wl-mt-0 {
    margin-top: 0px;
}

.wl-mt-5 {
    margin-top: 5px;
}

.wl-mt-10 {
    margin-top: 10px;
}

.wl-mt-15 {
    margin-top: 15px;
}

.wl-mt-20 {
    margin-top: 20px;
}

.wl-mb-0 {
    margin-bottom: 0px;
}

.wl-mb-5 {
    margin-bottom: 5px;
}

.wl-mb-10 {
    margin-bottom: 10px;
}

.wl-mb-15 {
    margin-bottom: 15px;
}

.wl-mb-20 {
    margin-bottom: 20px;
}

.wl-ml-0 {
    margin-left: 0px;
}

.wl-ml-5 {
    margin-left: 5px;
}

.wl-ml-10 {
    margin-left: 10px;
}

.wl-ml-15 {
    margin-left: 15px;
}

.wl-ml-20 {
    margin-left: 20px;
}

.wl-mr-0 {
    margin-right: 0px;
}

.wl-mr-5 {
    margin-right: 5px;
}

.wl-mr-10 {
    margin-right: 10px;
}

.wl-mr-15 {
    margin-right: 15px;
}

.wl-mr-20 {
    margin-right: 20px;
}

.wl-pt-0 {
    padding-top: 0px;
}

.wl-pt-5 {
    padding-top: 5px;
}

.wl-pt-10 {
    padding-top: 10px;
}

.wl-pt-15 {
    padding-top: 15px;
}

.wl-pt-20 {
    padding-top: 20px;
}

.wl-pb-0 {
    padding-bottom: 0px;
}

.wl-pb-5 {
    padding-bottom: 5px;
}

.wl-pb-10 {
    padding-bottom: 10px;
}

.wl-pb-15 {
    padding-bottom: 15px;
}

.wl-pb-20 {
    padding-bottom: 20px;
}

.wl-pl-0 {
    padding-left: 0px;
}

.wl-pl-5 {
    padding-left: 5px;
}

.wl-pl-10 {
    padding-left: 10px;
}

.wl-pl-15 {
    padding-left: 15px;
}

.wl-pl-20 {
    padding-left: 20px;
}

.wl-pr-0 {
    padding-right: 0px;
}

.wl-pr-5 {
    padding-right: 5px;
}

.wl-pr-8 {
    padding-right: 8px;
}

.wl-pr-10 {
    padding-right: 10px;
}

.wl-pr-15 {
    padding-right: 15px;
}

.wl-pr-20 {
    padding-right: 20px;
}


/** rewrite css style */

.modal-header .close {
    font-size: 25px;
    color: #ffffff;
    outline: none;
    opacity: 1;
}

.btn {
    font-size: 12px;
    padding: 4px 12px;
    outline: none;
}

.list-group-item {
    padding: 5px 10px;
}

.amap-maptype-title {
    width: 58px;
}

.bootgrid-footer {
    margin: 0;
    padding: 0;
    float: right;
}

.dropdown-menu {
    font-size: 12px;
}

.input-group-addon {
    font-size: 12px;
}

.form-control {
    border-radius: 2px;
    padding: 2px 5px;
    height: 27px;
    font-size: 12px;
}

textarea.form-control {
    height: 30px;
}


/** common css style **/

.wl-container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.wl-inline-block {
    display: inline-block;
    vertical-align: middle;
}

.wl-block {
    display: block;
}

.wl-width-full {
    width: 100%;
}

.wl-no-border {
    border: none;
}


/* color css style */

.wl-text-blue {
    color: #39ADB4;
}

.wl-text-white {
    color: #FFFFFF;
}

.wl-bg-green {
    background-color: #39ADB4;
}

.wl-bg-yellow {
    background-color: #D8D138;
}

.wl-bg-white {
    background-color: rgba(255, 255, 255, 0.8);
}

.wl-bg-orange {
    background-color: #F17A54;
    color: white;
}

.wl-bg-pink {
    background-color: #D7425C;
    color: white;
}

.wl-bg-blue {
    background-color: #3275BB;
    color: white;
}

.wl-bg-light-gray {
    background-color: #EFEFEF;
}


/* button css style */

.wl-btn {
    border-radius: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.wl-btn-blue {
    background-color: #667D26;
    border: 1px solid #3F4D16;
    color: #FFFFFF;
}

.wl-btn-blue:hover {
    background-color: #ADADAD;
    border: 1px solid #ADADAD;
}

.wl-btn-search {
    width: 90px;
    background-color: #667D26;
    border: 1px solid #7f9927;
    color: #FFFFFF;
    box-shadow: inset 0 0 7px rgba(222, 239, 151, 0.75);
}

.wl-btn-search:focus,
.wl-btn-search:active,
.wl-btn-search:hover {
    background-color: #ADADAD;
    border: 1px solid #ADADAD;
    color: #f1f1f1;
}


/** companyPicker css style */

.wl-modal-header,
.wl-modal-body,
.wl-modal-footer {
    padding: 5px 10px;
}

.wl-modal-header {
    background-color: #667D26;
    color: #FFFFFF;
    font-size: 14px;
    box-shadow: inset 0 0 7px rgba(222, 239, 151, 0.75);
    border-radius: 6px 6px 0px 0px;
}

.wl-modal-body-content {
    height: 320px;
    overflow: auto;
}


/** main css style */

.wl-condition {
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 12px;
    border-bottom: 2px solid #e1e1e1;
}

.wl-grid {
    margin-left: 10px;
    margin-right: 10px;
}

.wl-grid th {
    background-color: #383842;
}

.wl-grid thead:hover th{
    background-color: #4D4D4D !important;
    cursor: not-allowed;
}

.wl-grid th a span {
    color: #FFFFFF !important;
}

.wl-grid th,
.wl-grid td {
    border-left: 2px solid #e1e1e1;
}

.wl-grid th:last-child,
.wl-grid td:last-child {
    border-right: 2px solid #e1e1e1;
}

.wl-grid tr:last-child {
    border-bottom: 2px solid #e1e1e1;
}

.wl-toolbar {
    line-height: 30px;
}

.wl-btn-edit {
    display: none;
    width: 90px;
    background-color: #667D26;
    border: 1px solid #7f9927;
    color: #FFFFFF;
    box-shadow: inset 0 0 7px rgba(222, 239, 151, 0.75);
}

.wl-btn-margin-left {
    /* 	margin-left: 2%; */
}

.staffInforTable .wl-required-input span:before,
.wl-required-input:before {
    content: "*";
    color: #FF0000;
    margin-right: 3px;
}

.edit_tb tr {
    height: 46px;
    vertical: middle;
}

.edit_tb th {
    padding-right: 5px;
    width: 88px;
    text-align: right;
}

.edit_tb.fix_edit_tb th{
	width: 94px;
}

.edit_tb td {
    padding: 5px 0;
}

.edit_tb th {
    font-weight: normal;
}

textarea.form-control {
    height: 30px;
}

.btn-primary {
    width: 90px;
    background-color: #667D26;
    border: 1px solid #7f9927;
    color: #FFFFFF;
    box-shadow: inset 0 0 7px rgba(222, 239, 151, 0.75);
}

.btn-primary:hover {
    background-color: #ADADAD;
    border: 1px solid #ADADAD;
    color: #f1f1f1;
}

.btn-default-close {
    width: 90px;
    background-color: #667D26;
    border: 1px solid #7f9927;
    color: #FFFFFF;
    box-shadow: inset 0 0 7px rgba(222, 239, 151, 0.75);
}

.btn-default-close:hover {
    background-color: #ADADAD;
    border: 1px solid #ADADAD;
    color: #f1f1f1;
}

.ts {
    font-size: 12px;
    color: #ff0000;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 10px;
}

.layui-layer-btn .layui-layer-btn0 {
    text-align: center !important;
    width: 90px !important;
    background-color: #667D26 !important;
    border: 1px solid #7f9927 !important;
    color: #FFFFFF !important;
    box-shadow: inset 0 0 7px rgba(222, 239, 151, 0.75) !important;
}

@media (max-width: 1280px) {
    html,
    body {
        font-size: 12px;
    }
    .wl-grid {
        font-size: 12px;
    }
}

@media (min-width: 1281px) {
    html,
    body {
        font-size: 12px;
    }
    .wl-grid {
        font-size: 12px;
    }
}

#menuProject {
    padding: 0px 5px 0px 5px;
    height: 20px;
    background-color: #8c8c8c;
    color: #ffffff;
    border-radius: 2px;
    border: 0px;
    /* 	border-bottom: 2px solid #C4C4C4;   */
    /* 	border-right: 2px solid #C4C4C4;   */
    box-shadow: 0px 0 0px rgba(255, 255, 255, 0), /*左边阴影*/
    2px 0 2px rgba(76, 76, 76, 0.6), /*右边阴影*/
    0px 0 0px rgba(255, 255, 255, 0), /*顶部阴影*/
    0 2px 2px rgba(76, 76, 76, 0.6);
    /*底边阴影*/
}

.amap-copyright,
.amap-logo {
    display: none !important;
}

.roleCheckbox {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #667D26;
    border-radius: 20px;
    position: relative;
    color: #667D26;
    height: 25px;
    line-height: 25px;
    margin: 3px 5px 3px 0;
    text-align: center;
}

.roleCheckbox:after {
    content: "移除";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #ADADAD;
    opacity: 0;
    transition: opacity 0.5s;
}

.roleCheckbox:hover {
    border-color: #ADADAD;
}

.roleCheckbox:hover:after {
    opacity: 1;
}

.roleCheckbox input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    margin: 0;
}

.roleCheckbox input:hover {
    cursor: pointer;
}

.table>tbody>tr>td>input[type=checkbox],
.table>tbody>tr>td>input[type=radio] {
    margin-top: 0px;
}


/*职工详情样式调整*/

.staffInforTable .wl-required-input:before {
    display: none;
}

.staffInforTable th{
	padding-right: 0;
	padding-left: 12px;
	width: 106px;
}

.staffInforTable th >span {
    display: block;
    background-color: #eee;
    height: 32px;
    line-height: 32px;
    padding-right: 3px;
    border-radius: 4px 0 0 4px;
}

.staffInforTable th >span:after {
    content: ":";
}

.staffInforTable td {
    padding: 0;
    width: 186px;
}

.staffInforTable td >span{
	display: block;
	height: 32px;
	border: 3px solid #eee;
	border-radius: 0 4px 4px 0;
	background-color: #fff;
}

.staffInforTable td input,
.staffInforTable td select,
.staffInforTable td .dropdown-toggle  {
    box-shadow: none;
    border: 0;
    height: 26px;
    margin: 0;
}

.staffInforTable .input-group-addon{
	border-color: #eee;
}

.staffInforTable td >span.active{
	background-color: #eee;
}

.staffConfiguration_title{
	background-color: #fff;
	height: 34px;
	line-height: 34px;
	border-radius: 17px;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
}

#staffConfiguration_file.staffConfiguration_file {
    background: #fff;
    height: 34px;
    border-radius: 17px;
    position: relative;
    line-height: 34px;
    padding-left: 10px;
    margin-top: 20px;
    overflow: hidden;
}

#staffConfiguration_file.staffConfiguration_file .staffConfiguration_fileUpload {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background: #81AA0A;
    border-radius: 0 17px 17px 0;
    padding: 5px 10px;
}


#staffConfiguration_file.staffConfiguration_file .staffConfiguration_fileUpload .glyphicon-folder-open{
    color: #fff;
    font-size: 14px;
    margin-top: 2px;
  }

  #user_editModal .edit_tb th{
    width: 92px;
  }
