/*!
 * =====================================================
 * employeePopup CSS Style File
 * =====================================================
 */
 




.wl-duty-content {
	width: 820px;
}

.wl-duty-body-content {
	height: 508px;
	padding: 10px;
	border: 1px solid #C1C1C1;
    margin-top: -2px;
    font-size: 12px;
	overflow: hidden;
}


.wl-duty-body-content .wl-grid {
	font-size: 12px;
}



.wl-duty-basic-lincese {
	width: 240px;
	height: 135px;
	margin-bottom: 5px;
}

/*
.wl-employee-basic-map-title {
	line-height: 20px;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
}
*/
.wl-duty-basic-map {
	height: 465px;
	border: 1px solid #C1C1C1;
}

.wl-duty-basic-left {
	float: left;
	width: 250px;
}

.wl-duty-basic-right {
	float: left;
	width: 525px;
}

.wl-duty-table {
	display: table;
	border-bottom: 1px solid #C1C1C1;
}

.wl-duty-table-row {
	display: table-row;
}

.wl-duty-table-cell {
	display: table-cell;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	padding: 3px 5px;
}

.wl-duty-table-cell-label {
	text-align: right;
	width: 80px;
	background: #ddd;
}

.wl-duty-table-cell-text {
	text-align: left;
	width: 160px;
	border-right: 1px solid #C1C1C1;
}


/*
.wl-hotspot-title {
	line-height: 25px;
	padding-left: 10px;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
}

.wl-hotspot-map {
	height: 465px;
	width: 776px;
	border: 1px solid #C1C1C1;
}
.wl-car-basic-tipDiv {
	position: absolute;
	right: 30px;
	bottom: 30px;
	height: 120px;
}

.wl-car-basic-tipInfo {
	border: 1px solid #777;
	padding: 10px 10px;
}
.wl-car-basic-tipOverlay {
	background-color: #F2F2F2;
	opacity: 0.7;
	width: 69px;
}
*/


#gridInfoCard-footer{
	display: none;
}

.wl-grid-card th {
	background-color:white;
}
.hide-card{
	display: none;
}

#gridInfo-footer{
	display: none;
}

#table-header th{
	background-color:white;
	text-align: center;
}

.wl-condition-info {
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 12px;
}




