/*!
 * =====================================================
 * employeePopup CSS Style File
 * =====================================================
 */
.wl-employee-menu {
	height: 34px;
    background: #f6f6f6;
    margin-top: 0px;
}

.wl-employee-menu li {
	float: left;
    text-align: center;
    width: 100px;
    height: 32px;
    background: #f6f6f6;
    line-height: 32px;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}

.wl-employee-menu li.wl-employee-tab-active {
	background-color: #667D26;
	color: #fff;
}

.wl-employee-basic-tab-active {
	background-color: #667D26
;
	color: #fff;
}

.wl-employee-content {
	width: 820px;
}

.wl-employee-body-content {
	height: 508px;
	padding: 10px;
	border: 1px solid #C1C1C1;
	border-top: 2px solid #667D26;
    margin-top: -2px;
    font-size: 12px;
	overflow: hidden;
}

.wl-employee-body-content-info {
	height: 350px;
	padding: 10px;
	border: 1px solid #C1C1C1;
	border-top: 2px solid #667D26;
    margin-top: -2px;
    font-size: 12px;
	overflow: hidden;
}

.wl-employee-body-content .wl-grid {
	font-size: 12px;
}

.wl-employee-basic-tab-div {
	height: 22px;
	background: #f6f6f6;
	width: 240px;
	margin-top: 5px;
	border-bottom: 2px solid #AACE39;
	margin-bottom: 0;
}
.wl-employee-basic-tab-div li {
	float: left;
    text-align: center;
    width: 40px;
    height: 20px;
    background: #f6f6f6;
    line-height: 20px;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}

.wl-employee-basic-tab-div li.wl-employee-basic-tab-active {
	background-color: #667D26;
	color: #fff;
}

.wl-employee-basic-lincese {
	width: 240px;
	height: 135px;
	margin-bottom: 5px;
}

.wl-employee-basic-map-title {
	line-height: 20px;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
}

.wl-employee-basic-map {
	height: 465px;
	border: 1px solid #C1C1C1;
}

.wl-employee-basic-left {
	float: left;
	width: 250px;
}

.wl-employee-basic-right {
	float: left;
	width: 525px;
}

.wl-employee-table {
	display: table;
	border-bottom: 1px solid #C1C1C1;
}

.wl-employee-table-row {
	display: table-row;
}

.wl-employee-table-cell {
	display: table-cell;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	padding: 3px 5px;
}

.wl-employee-table-cell-label {
	text-align: right;
	width: 80px;
	background: #ddd;
}

.wl-employee-table-cell-text {
	text-align: left;
	width: 160px;
	border-right: 1px solid #C1C1C1;
}


/** trajectory */

/*.wl-trajectory-map {
	float: left;
	height: 440px;
	width: 555px;
	border: 1px solid #C1C1C1;
}

.wl-trajectory {
	float: left;
	height: 440px;
	width: 210px;
	margin-left: 10px;
}

.wl-trajectory-title {
	background-color: #CCC;
	line-height: 25px;
	vertical-align: middle;
}

.wl-trajectory-title span {
	margin-left: 10px;
	font-weight: bold;
}

.wl-trajectory-sub-title {
	margin-left: 10px;
	margin-top: 5px;
	font-weight: 600;
}

.wl-trajectory-info {
	margin-left: 10px;
}

.wl-trajectory-toolbar-btn {
	float: left;
	height: 36px;
	width: 36px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-left: 40px;
	margin-top: 10px;
	cursor: pointer;
}

.wl-trajectory-toolbar-start {
	height: 36px;
}

.wl-trajectory-toolbar-pause {
	height: 30px;
	margin-top: 3px;
	margin-left: 2px;
}

.wl-trajectory-toolbar-stop {
	height: 27px;
	margin-top: 4px;
	margin-left: 4px;
}

.wl-trajectory-slider-span {
	font-size: 12px;
	float: left;
}

.wl-trajectory-status {
	margin-top: 90px;
}

.slider.slider-horizontal {
	width: 165px;
	height: 20px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -2px;
}

.slider-selection {
	opacity: 0;	
}

.slider-track {
	background: -ms-linear-gradient(left, #fff, #ff0000);
	background: -moz-linear-gradient(left, #fff, #ff0000);
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(#ff0000));
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(#ff0000));
	background: -webkit-linear-gradient(left, #fff, #ff0000);
	background: -o-linear-gradient(left, #fff, #ff0000);
}*/

