/*!
 * =====================================================
 * Login CSS Style File
 * =====================================================
 */
.wl-alarmSet-content {
	width: 650px;
}

.wl-region-content {
	width: 676px;
}

.wl-region-heigh {
	height: 410px;
}

.wl-veh-content {
	width: 996px;
}

.wl-veh-heigh {
	height: 420px;
}

.wl-table-overflow {
	height: 265px;
	overflow-y: auto;
	overflow-x: hidden;
}

.wl-tab-div {
	background-color: #CCCCCC;
	width: 80px;
	padding: 2px 10px;
	color: #000000;
	border-radius: 2px;
}

.wl-veh-tab {
	background-color: #CCCCCC;
	width: 105px;
	padding: 2px 10px;
	color: #000000;
	border-radius: 2px;
}

.wl-region-tab {
	width: 68%;
	margin-left: 120px;
	margin-bottom: 20px;

}

.wl-veh-left {
	float: left;
	width: 676px;
}

.wl-selectveh-left {
	float: left;
	width: 235px;
}

.wl-vehbtn-left {
	float: left;
}

.wl-alarmSet-div-border {
	border: 1px solid #CCCCCC;
}

.wl-div-border-width {
	width: 500px;
}

.wl-blankDiv-heigh {
	height:20px;
}

.wl-margin {
	margin:10px 20px;
}

.wl-mt-20 {
	margin-top: 20px;
}

.wl-mt-150 {
	margin-top: 150px;
}

.wl-mb-10 {
	margin-bottom: 10px;
}

.wl-mb-20 {
	margin-bottom: 20px;
}

.wl-ml-10 {
	margin-left: 10px;
}

.wl-ml-42 {
	margin-left: 42px;
}

.wl-ml-50 {
	margin-left: 50px;
}

.wl-ml-63 {
	margin-left: 63px;
}

.wl-ml-78 {
	margin-left: 78px;
}

.wl-mr-10 {
	margin-right: 10px;
}

.wl-width-15 {
	width:15%;
}

.wl-width-30 {
	width:30%;
}

.wl-width-69 {
	width:69%;
}

.wl-width-100 {
	width:100%;
}

.wl-alarmSet-tab {
	width: 80px;
	padding: 2px 10px;
	margin-left: 10px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
}

.wl-alarmSet-tab-active {
	background-color: #BABABA;
	color: #ffffff;
	border-bottom: 1px solid #BABABA;
}

.wl-alarmSet-tab-unactive {
	background-color: #CCCCCC;
	color: #000000;
}

.checkbox label, .radio label {
	padding-left: 5px;
}