/*!
 * =====================================================
 * Position CSS Style File
 * =====================================================
 */

.terRow60 {
    border: 1px solid #c1c1c1;
    background-color: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
}

.terRow30 {
    height: 30px;
}

.terRow40 {
    height: 40px;
    padding-top: 6px;
}

.terSpace {
    margin-top: 5px;
    margin-bottom: 5px;
}

.backgroundcolor {
    background-color: #667D25;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
}

.backgroundcolor2 {
    width: 100%;
    font-size: 14px;
    height: 35px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 30px;
    border-top: 4px solid #88A832;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
}

.backgroundcolor2 .glyphicon-chevron-down,
.backgroundcolor2 .glyphicon-chevron-up {
    font-size: 16px;
    position: relative;
    top: 8px;
}

.cell {
    border: 1px solid #c1c1c1;
    height: 30px;
    text-align: center;
    width: 12.5%;
    background-color: #383842;
    color: #fff;
    font-weight: normal;
}

.cellbody {
    border: 1px solid #c1c1c1;
    height: 30px;
    text-align: left;
    width: 12.5%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

.cellbody input[type="radio"] {
    width: 16px;
    height: 16px;
}

.cellbody input[type="radio"] + span {
    display: inline-block;
    position: relative;
    top: -4px;
    left: 5px;
}

.cellbody2 {
    border: 1px solid #c1c1c1;
    height: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

.inputtexth {
    /* 	height: 20px ; */
    width: 100% !important;
}

.inputtexth2 {
    /* 	height: 20px ; */
    width: 33%;
    display: inline-block;
}

.inputtexth3 {
    /* 	height: 20px ; */
    width: 200px;
    display: inline-block;
}

.sendfun {
    line-height: 28px;
}

.sendfun input,
.sendfun span {
    float: left;
}

.sendfun input {
    width: 15px;
    height: 15px;
    margin: 7px 3px 5px 15px;
}

.cellbody .form-control,
.cellbody2 .form-control {
    height: 24px;
}

.navbarLine{
	display: inline-block;
	text-align: right;
}
.navbarLine input{
	width: 322px;
}

.navbarLine span{
	display: inline-block;
	width: 154px;
}

.navbarLastLine span{
	width: auto;
	padding-left: 15px;
	width: 78px;
}

.navbarLastLine input{
	width: 346px;
}
