/*!
 * =====================================================
 * Region CSS Style File
 * =====================================================
 */
.wl-facilityManagement-imge {
	width: 350px;
	height: 240px;
	overflow: hidden;
}

.wl-facilityManagement-imge img {
	width: 100%;
	height: 100%;
}
.facilityManagement_photoImg {
	padding-left: 20px;
	padding-right: 20px;
}
#facilityManagement_radius{
	margin-left: 20px;
}
#facilityManagement_lab{
	padding-left: 30px;
}
.facilityManagement_lock {
	  display: none;
	  padding: 8px; 
}
.facilityManagement_lock + label { 
    background: url(../images/unlock.png);
    padding: 8px; 
    display: inline-block; 
    position: relative; 
    margin-right: 30px; 
    margin-top: 8px; 
} 
.facilityManagement_lock:checked + label { 
    background: url(../images/lock.png);
} 
.wl-facilityManagement-body-content {
	height: 520px;
}

.wl-facilityManagement-left {
	float: left;
	width: 490px;
}

.wl-facilityManagement-right {
	float: right;
	width: 500px;
}

 
