/*!
 * =====================================================
 * Position CSS Style File
 * =====================================================
 */
.height50 {
	height: 49%;
    width: 49%;
	text-align:center;
    padding: 10px;
}
.height33 {
    padding: 16px 0px 16px 0px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bolder;
}
.col-sm-12{
    padding-left: 5px;
	padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#4C4C4C;
}
.needborder1{
	border: 1px solid #c1c1c1;
    border-radius: 6px;
    margin: 0% 1% 1% 0%;
    background-color: #ffffff;
}
.needborder2{
	border: 1px solid #c1c1c1;
    border-radius: 6px;
    margin: 0% 0% 1% 1%;
    background-color: #ffffff;
}
.needborder3{
	border: 1px solid #c1c1c1;
    border-radius: 6px;
    margin: 1% 1% 0% 0%;
    background-color: #ffffff;
}
.needborder4{
	border: 1px solid #c1c1c1;
    border-radius: 6px;
    margin: 1% 0% 0% 1%;
    background-color: #ffffff;
}
.needborder5{
	border: 1px solid #c1c1c1;
    border-radius: 6px;
/*     margin: 0% 2% 0% 2%; */
    background-color: #ffffff;
}
.needborder6{
	height:32%;
	border: 1px solid #c1c1c1;
    border-radius: 6px;
/*     margin: 0% 2% 0% 2%; */
    background-color: #ffffff;
    margin-bottom: 1% !important;
    margin-top: 0% !important;
}
.needborder7{
	height:32%;
	border: 1px solid #c1c1c1;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 0% !important;
    margin-top: 0% !important;
}
.needborder8{
	height:33%;
	border: 1px solid #c1c1c1;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 0% !important;
    margin-top: 1% !important;
}

.weatherbackground{
	background: url("/wulian/images/weatherDesk2.png") no-repeat;
	background-size: cover;
	background-repeat:round;
}

.cumbackground{
/* 	background: url("/wulian/images/cumbackground.png") no-repeat 100% 100% !important; */
/* 	background-size: cover; */
/* 	text-align:center; */
/* 	background-repeat:round; */
	text-align:center;
/* 	color:#FFFFFF; */
    padding: 13px 0px 16px 0px;
    margin-left: -5%;
}

.dashbackground{
/* 	background: url("/wulian/images/dashGR.png") no-repeat 49% 25% !important; */
/* 	background-size: cover !important; */
/* 	background-repeat:round !important; */
/*     background-color: #383842 !important; */
}

.dashbackgroundRG{
/* 	background: url("/wulian/images/dashRG.png") no-repeat 50% 7px !important; */
/* 	background-size: cover !important; */
/* 	background-repeat:round !important; */
    background-color: #383842 !important;
}

.dashWord{
	color: #ffffff;
	text-align:center;
	font-size:12px;
	line-height:14px;
}

.dashWord2{
    padding-top: 120px;
}

.Dcol-md-1-5 {
	width: 20%;
	float: left;
}
.Dcol-xs-1-5,.Dcol-sm-1-5,.Dcol-md-1-5,.Dcol-lg-1-5 {
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.echartsArea{
    height: 30px;
    width: 270px;
    position: absolute;
	padding-left: 100px;
	padding-top: 5px;
    z-index:9999;
}
.echartsButton{
	height: 18px;
    width: 26px;
    background-color: #667D26 !important;
    padding: 0px;
    color: #FFFFFF;
    border-radius: 0px;
    FONT-SIZE: 12px;
    border: 0px solid transparent;
}




/*��ҳ����*/
@-webkit-keyframes flipTop {
0% {
-webkit-transform: perspective(200px) rotateX(0deg); }

100% {
-webkit-transform: perspective(200px) rotateX(-90deg); } }

@-webkit-keyframes flipBottom {
0% {
-webkit-transform: perspective(200px) rotateX(90deg); }

100% {
-webkit-transform: perspective(200px) rotateX(0deg); } }

@-moz-keyframes flipTop {
0% {
-moz-transform: perspective(200px) rotateX(0deg); }

100% {
-moz-transform: perspective(200px) rotateX(-90deg); } }

@-moz-keyframes flipBottom {
0% {
-moz-transform: perspective(200px) rotateX(90deg); }

100% {
-moz-transform: perspective(200px) rotateX(0deg); } }

@-ms-keyframes flipTop {
0% {
-ms-transform: perspective(200px) rotateX(0deg); }

100% {
-ms-transform: perspective(200px) rotateX(-90deg); } }

@-ms-keyframes flipBottom {
0% {
-ms-transform: perspective(200px) rotateX(90deg); }

100% {
-ms-transform: perspective(200px) rotateX(0deg); } }

@-keyframes flipTop {
0% {
transform: perspective(200px) rotateX(0deg); }

100% {
transform: perspective(200px) rotateX(-90deg); } }

@-keyframes flipBottom {
0% {
transform: perspective(200px) rotateX(90deg); }

100% {
transform: perspective(200px) rotateX(0deg); } }




.dataStatistics {
	color: #FFFFFF;font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 20px;font-weight: bold;line-height: 20px;height: 24px;  width: 122px; margin: 0 auto;
	}

.dataStatistics .seperator {vertical-align: top;margin: 0 -20px;display: inline; }
.dataStatistics .seconds,.dataStatistics .minutes,.dataStatistics .hours,.dataStatistics .days {height: 100%;display: inline; }
.dataStatistics .digit_set { float: left;border-radius: 4px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);border: 1px solid #111111;width: 18px;height: 100%;display: inline-block;position: relative;margin: 0 1px; }
.dataStatistics .set_last {}

.dataStatistics .digit {position: absolute;height: 100%; }
.dataStatistics .digit > div {position: absolute;left: 0;overflow: hidden;height: 50%;width: 16px;padding: 1px 2px; }

.dataStatistics .digit > div.digit_top, .dataStatistics .digit > div.shadow_top { width: 16px;background-color: #2E2E2E;border-bottom: 1px solid #2E2E2E;box-sizing: border-box;top: 0;z-index: 0;border-radius: 3px 3px 0 0; }
.dataStatistics .digit > div.digit_top:before, .dataStatistics .digit > div.shadow_top:before {content: "";
height: 100%;width: 100%;position: absolute;left: 0;top: 0; }
.dataStatistics .digit > div.shadow_top {width: 16px;opacity: 0;-webkit-transition: opacity 0.3s ease-in; }
.dataStatistics .digit > div.digit_bottom, .dataStatistics .digit > div.shadow_bottom {background-color: #2E2E2E;bottom: 0;z-index: 0;border-radius: 0 0 3px 3px; }
.dataStatistics .digit > div.digit_bottom .digit_wrap, .dataStatistics .digit > div.shadow_bottom .digit_wrap {display: block;margin-top: -95%; }
.dataStatistics .digit > div.digit_bottom:before, .dataStatistics .digit > div.shadow_bottom:before {content: "";border-radius: 0 0 3px 3px;height: 100%;width: 100%;position: absolute;left: 0;top: 0; }
.digit_wrap{line-height: 20px; display: block; overflow: hidden;}
.dataStatistics .digit > div.shadow_bottom {opacity: 0;-webkit-transition: opacity 0.3s ease-in; }
.dataStatistics .digit.previous .digit_top,.dataStatistics .digit.previous .shadow_top {opacity: 1;z-index: 2;
-webkit-transform-origin: 50% 100%;-webkit-animation: flipTop 0.3s ease-in both;-moz-transform-origin: 50% 100%;-moz-animation: flipTop 0.3s ease-in both;-ms-transform-origin: 50% 100%;-ms-animation: flipTop 0.3s ease-in both; transform-origin: 50% 100%;animation: flipTop 0.3s ease-in both;}
.dataStatistics .digit.previous .digit_bottom,.dataStatistics .digit.previous .shadow_bottom {z-index: 1;opacity: 1; }
.dataStatistics .digit.active .digit_top {z-index: 1; }
.dataStatistics .digit.active .digit_bottom {z-index: 2;-webkit-transform-origin: 50% 0%;-webkit-animation: flipBottom 0.3s 0.3s ease-out both;-moz-transform-origin: 50% 0%;-moz-animation: flipBottom 0.3s 0.3s ease-out both;-ms-transform-origin: 50% 0%;-ms-animation: flipBottom 0.3s 0.3s ease-out both;transform-origin: 50% 0%;animation: flipBottom 0.3s 0.3s ease-out both; }