/*!
 * =====================================================
 * Region CSS Style File
 * =====================================================
 */
.wl-regionSet-tab {
	background-color: #CCCCCC;
	width: 80px;
	padding: 2px 10px;
	color: #777777;
	align: center;
	border-radius: 2px;
}

.wl-regionSet-body-content {
	height: 420px;
}

.wl-regionSet-left {
	float: left;
	width: 390px;
}

.wl-regionSet-right {
	float: right;
	width: 400px;
}

.wl-regionSet-input-header {
	width: 80px;
	text-align: right;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.wl-regionSet-input {
	width: 80px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 15px;
}

.wl-regionSet-input-bottom {
	width: 80px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 20px;
}

.wl-regionSet-map-title {
	line-height: 30px;
	border-top: 1px solid #C1C1C1;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
}

.wl-regionSet-map {
	border: 1px solid #CCCCCC;
	width: 400px;
	height: 400px;
}

.wl-regionSet-div-border {
	border: 1px solid #CCCCCC;
	width: 390px;
	height: 400px;
}

.wl-regionSet-div-save-button {
	margin:10px;
}

.wl-regionSet-div-draw-button {
	float:right;
 	margin-top: 10px;
}

.wl-regionSet-div-region-button {
	width:100px;
	height:30px;
	background:url(../images/regionrange.png); 
	no-repeat;
}

