.fullbody {
	height: 100%;
	width: 100%;
	margin-top: 5%;
}

.separator {
}
.btn-separator {
    float: left;
    height: 63px;
    border-left: 2px solid #999;
    border-right: 0px solid #999;
    margin: 10px 0px 0px 31px;
    z-index: -1;
}

.bgi {
	background: url(../images/menuBgi.png) no-repeat;
	height: 120px;
}

.fristTitle {
	font-family:"幼圆";
	font-size: 20px;
	color: #FFFFFF;
	padding-top: 18px;
	padding-left: 40px;
	width: 100%;
}

.fristTitlehr {
    margin-top: -16px;
    margin-bottom: 0px;
/*     margin-right: -55px; */
    margin-left: 180px;
    border-top: 2px dotted #999;
}

.boxShadow {
	box-shadow: 0px 0px 2px 2px #93B331;
	width: 100%;
	text-align: center;
}

.innerDiv {
	cursor: pointer;
	vertical-align: middle;
	background-color: #667D26;
	margin-right: 5px;
	margin-top: 5px;
    position: relative;
}

.innerDiv:hover {
    cursor: pointer;
    vertical-align: middle;
    background-color: #383842;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

.wl-top-nav-container {
	background-image: url(../images/navBar.png);
	background-size: 101% 40px;
	height:40px;
}

.wl-top-nav li {
	float: left;
	list-style: none;
	margin-right: 30px;
}

.wl-top-nav a {
	color: #EEEEEE;
	display: block;
	padding: 0 13px;
    font: 14px/150% Arial,Verdana,"宋体";
}
.logo{
	font-family: "方正超粗黑";
	background-image: url(../images/logo.png);
	background-size: 100% 60px;
	height:40px;
	font-size: 25px;
	margin-left: 10px;
	padding-top: 2px;
	padding-right: 40px ;
	text-align:center;
}

.logo1{
	height:40px;
	font-size: 20px;
	margin-left: 10px;
	padding-top: 5px;
	text-align:center;
	font-weight: bold;
	font-family:"幼圆";
	color: #AACE39;
	font-weight: bold;
}
.color-white{
	color: #FFFFFF;
}
ul {
	list-style-type: none;
	margin-top:8px;
	padding: 0;
}