/*!
 * =====================================================
 * Region CSS Style File
 * =====================================================
 */
.wl-vehMangement-imge {
	width: 320px;
	height: 180px;
	border: 1px solid #F2F2F2;
	overflow: hidden;
}

.wl-vehMangement-imge img {
	width: 100%;
	height: 100%;
}