.x_form_showred {
	color:red;
}
.book_button_left {
	 background-image: url(icons/left2.gif) !important; 	
}
.book_button_right {
	 background-image: url(icons/right2.gif) !important; 	
}
.grid_column_speciy {
	color:red;
}
.x-trigger-verifyimg { 
	width:75px;
    height:21px;
    border:0;
    background:transparent no-repeat 0 0;
    cursor:pointer;
    border: 1px ridge ;
    position:absolute;
    top:0;}
.icon-printer {
	background-image: url(icons/printer.png) !important;}
.attach_download { background-image: url(icons/downfile.png) !important; }
.icon-status_away { background-image: url(icons/status_away.png) !important; }
.icon-bullet_left { background-image: url(icons/bullet_left.png) !important; }
.icon-bullet_right { background-image: url(icons/bullet_right.png) !important; }
.icon-functionFav { background-image: url(icons/application_view_icons.png) !important; }
.icon-functionFun { background-image: url(icons/application_view_list.png) !important; }
.icon-functionTab { background-image: url(icons/folder_magnify.png) !important; }
.icon-functionSpa { background-image: url(icons/table_sort.png) !important; }
.icon-star { background-image: url(icons/folder_star.png) !important; }
.icon-database_delete { background-image: url(icons/database_delete.png) !important; }                 
.icon-application_remove { background-image: url(icons/application_remove.png) !important; }             
.icon-application_reset { background-image: url(icons/application_reset.png) !important; }         
.icon-application_append { background-image: url(icons/application_append.png) !important; }     
.icon-feed_magnify { background-image: url(icons/feed_magnify.png) !important; }    
.icon-folder_home { background-image: url(icons/folder_home.png) !important; }
.icon-folder_user { background-image: url(icons/folder_user.png) !important; }
.icon-group { background-image: url(icons/group.png) !important; }
.icon-award_star_delete { background-image: url(icons/award_star_delete.png) !important; }
.icon-award_star_add { background-image: url(icons/award_star_add.png) !important; }
.icon-lock_key { background-image: url(icons/lock_key.png) !important; }
.icon-application { background-image: url(icons/application.png) !important; }
.icon-expand-all { background-image: url(icons/expand-all.gif) !important; }
.icon-collapse-all { background-image: url(icons/collapse-all.gif) !important; }
.icon-application_home { background-image: url(icons/house.png) !important; }
.icon-cake_out { background-image: url(icons/cake_out.png) !important; }
.icon-tab_go { background-image: url(icons/tab_go.png) !important; }
.icon-page_add { background-image: url(icons/page_add.png) !important; }
.icon-page_copy { background-image: url(icons/page_copy.png) !important; }
.icon-application_add { background-image: url(icons/application_add.png) !important; }
.icon-application_delete { background-image: url(icons/application_delete.png) !important; }
.icon-application_edit { background-image: url(icons/application_edit.png) !important; }
.icon-application_form_edit { background-image: url(icons/application_form_edit.png) !important; }
.icon-application_appset{background-image:url(icons/application_form_config.gif) !important;} 
.icon-page_save { background-image: url(icons/page_save.png) !important; }
.icon-page_copy { background-image: url(icons/page_copy.png) !important; }
.icon-application_form_magnify { background-image: url(icons/application_form_magnify.png) !important; }
.icon-application_lightning { background-image: url(icons/application_lightning.png) !important; }
.icon-application_form { background-image: url(icons/application_form.png) !important; }
.icon-application_view_list { background-image: url(icons/application_view_list.png) !important; }
.icon-addr_home { background-image: url(icons/addr_home.png) !important; }
.icon-application_search { background-image: url(icons/search.png) !important; }
.icon-application_batch {background-image: url(icons/batch_handler.png) !important;}
 .x-window-dlg .ext-mb-download {
            background:transparent url(icons/download.gif) no-repeat top left;
            height:46px;
        }
 .msg {
 	position: relative;
 	bottom : -4px;
 }
.config-icon{
	 background-image:url(icons/application_form_config.gif) !important;
}  
.loginout-icon { background-image: url(frame/ui/css/icons/icons/loginout.gif) !important; }



.icon_margin{
	 margin-right:5px;
}
.icon-application_excel { background-image: url(icons/page_excel.png) !important; }
.icon-application_word { background-image: url(icons/page_word.png) !important; }
.icon-application_text { background-image: url(icons/page.png) !important; }

.x-form-field-wrap .x-form-check-trigger {
    background-image: url(icons/check-trigger.gif) !important;
}
.x-form-field-wrap .x-form-query-trigger {
    background-image: url(icons/query-trigger.gif) !important;
}
/*tab页面加载图标*/
.icon-application_tab_error { background-image: url(icons/exclamation.gif) !important; }
.icon-application_page_error {width:32px;background-position:center center; background-repeat:no-repeat; background-image: url(icons/application_error_icon.png) !important; }
.icon-application_gather { background: url("icons/mini-top.gif") no-repeat center top;
	border-style: none;
	cursor: pointer;
	width: 35px;
	height: 10px;
	font-size: 0px;
	margin: -2px 0px 0px 0px;
	padding:0px 0px 0px 0px; }
.icon-application_spread {
	background: url("icons/mini-bottom.gif") no-repeat center top;
	border-style: none;
	cursor: pointer;
	width: 35px;
	height: 10px;
	font-size: 0px;
	margin: -2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}