
@font-face {font-family: "iconfont_veh";
  src: url('../fonts/iconfont_veh.eot?t=1482823050926'); /* IE9*/
  src: url('../fonts/iconfont_veh.eot?t=1482823050926#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont_veh.woff?t=1482823050926') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont_veh.ttf?t=1482823050926') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont_veh.svg?t=1482823050926#iconfont_veh') format('svg'); /* iOS 4.1- */
}

.iconfont_veh {
  font-family:"iconfont_veh" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconveh-lajiyasuoche:before { content: "\e690"; font-size:13px;color: #0040cc;}

.iconveh-xiwuche:before { content: "\e691"; font-size:13px;color: #0040cc;}

.iconveh-lajizhuanyunche:before { content: "\e692"; font-size:13px;color: #0040cc;}

.iconveh-xisaoche:before { content: "\e693"; font-size:13px;color: #0040cc;}

.iconveh-saoluche:before { content: "\e694"; font-size:13px;color: #0040cc;}

.iconveh-xinnengyuanhuanweiche:before { content: "\e695"; font-size:13px;color: #0040cc;}

.iconveh-qingxiche:before { content: "\e696"; font-size:13px;color: #0040cc;}

.iconveh-lumianyanghuche:before { content: "\e697"; font-size:13px;color: #0040cc;}

.iconveh-diandongche:before { content: "\e698"; font-size:13px;color: #0040cc;}



.iconveh-lajiyasuochegray:before { content: "\e690"; font-size:13px;color: #7b7b7b;}

.iconveh-xiwuchegray:before { content: "\e691"; font-size:13px;color: #7b7b7b;}

.iconveh-lajizhuanyunchegray:before { content: "\e692"; font-size:13px;color: #7b7b7b;}

.iconveh-xisaochegray:before { content: "\e693"; font-size:13px;color: #7b7b7b;}

.iconveh-saoluchegray:before { content: "\e694"; font-size:13px;color: #7b7b7b;}

.iconveh-xinnengyuanhuanweichegray:before { content: "\e695"; font-size:13px;color: #7b7b7b;}

.iconveh-qingxichegray:before { content: "\e696"; font-size:13px;color: #7b7b7b;}

.iconveh-lumianyanghuchegray:before { content: "\e697"; font-size:13px;color: #7b7b7b;}

.iconveh-diandongchegray:before { content: "\e698"; font-size:13px;color: #7b7b7b;}



.iconveh-lajiyasuoche:hover:before { content: "\e690"; font-size:18px;color: #0040cc;}

.iconveh-xiwuche:hover:before { content: "\e691"; font-size:18px;color: #0040cc;}

.iconveh-lajizhuanyunche:hover:before { content: "\e692"; font-size:18px;color: #0040cc;}

.iconveh-xisaoche:hover:before { content: "\e693"; font-size:18px;color: #0040cc;}

.iconveh-saoluche:hover:before { content: "\e694"; font-size:18px;color: #0040cc;}

.iconveh-xinnengyuanhuanweiche:hover:before { content: "\e695"; font-size:18px;color: #0040cc;}

.iconveh-qingxiche:hover:before { content: "\e696"; font-size:18px;color: #0040cc;}

.iconveh-lumianyanghuche:hover:before { content: "\e697"; font-size:18px;color: #0040cc;}

.iconveh-diandongche:hover:before { content: "\e698"; font-size:18px;color: #0040cc;}



.iconveh-lajiyasuochegray:hover:before { content: "\e690"; font-size:18px;color: #7b7b7b;}

.iconveh-xiwuchegray:hover:before { content: "\e691"; font-size:18px;color: #7b7b7b;}

.iconveh-lajizhuanyunchegray:hover:before { content: "\e692"; font-size:18px;color: #7b7b7b;}

.iconveh-xisaochegray:hover:before { content: "\e693"; font-size:18px;color: #7b7b7b;}

.iconveh-saoluchegray:hover:before { content: "\e694"; font-size:18px;color: #7b7b7b;}

.iconveh-xinnengyuanhuanweichegray:hover:before { content: "\e695"; font-size:18px;color: #7b7b7b;}

.iconveh-qingxichegray:hover:before { content: "\e696"; font-size:18px;color: #7b7b7b;}

.iconveh-lumianyanghuchegray:hover:before { content: "\e697"; font-size:18px;color: #7b7b7b;}

.iconveh-diandongchegray:hover:before { content: "\e698"; font-size:18px;color: #7b7b7b;}