
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1481104178698'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1481104178698#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1481104178698') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1481104178698') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1481104178698#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before { content: "\e603"; font-size:20px; color: #667D26;}

.icon-user:before { content: "\e605"; font-size:20px;color: #667D26;}

/*.icon-languge:before { content: "\e607"; font-size:16px;color: #AACE39;}*/

.icon-conection:before { content: "\e608"; font-size:16px;color: #AACE39;}

.icon-tuichu:before { content: "\e67a"; font-size:18px;color: red;}

.icon-menu-user:before { content: "\e605"; font-size:16px;color: #AACE39;}

.icon-admin:before { content: "\e609"; font-size:18px;color: #AACE39;}

.icon-help:before { content: "\e60a"; font-size:16px;color: #AACE39;}


.icon-luxian:before { content: "\e60f"; font-size:16px;color: #667D26;}

.icon-quyu:before { content: "\e610"; font-size:16px;color: #667D26;}


.icon-youfanye:before {font-size: 30px; content: "\e683"; }

.icon-zuofanye:before {font-size: 30px; content: "\e684"; }



.icon-quyuchaxun-quyufenlei:before {font-size:22px; content: "\e65b"; }

.icon-baojiequyubaojieluxianliebiao:before {font-size:22px; content: "\e65c"; }

.icon-renyuanchaxun-zhuguan:before {font-size:22px; content: "\e65d"; }

.icon-renyuanchaxun-renyuanzhuangtai:before {font-size:22px; content: "\e65e"; }

.icon-renyuanchaxun-qingjiegong:before {font-size:22px; content: "\e65f"; }

.icon-renyuanchaxun-siji:before {font-size:22px; content: "\e660"; }

.icon-renyuanchaxun-banzuchang:before {font-size:22px; content: "\e661"; }

.icon-renyuanchaxun-renyuanfenlei:before {font-size:22px; content: "\e662"; }

.icon-sheshichaxun-gongjiaozhan:before {font-size:22px; content: "\e663"; color:red; }

.icon-sheshichaxun-cesuo:before {font-size:22px; content: "\e664"; }

.icon-lajizhongzhuanzhan:before {font-size:22px; content: "\e665"; color:red; }

.icon-qushuidian:before {font-size:22px; content: "\e666"; color:red; }

.icon-sheshichaxun-lajitong:before {font-size:22px; content: "\e667"; color:red; }

.icon-sheshichaxun-sheshifenlei:before {font-size:22px; content: "\e668"; }

.icon-sheshichaxun-lajixiang:before {font-size:22px; content: "\e669"; }

.icon-sheshichaxun-jiayouzhan:before {font-size:22px; content: "\e66a"; color:red;}

.icon-tingchechang:before {font-size:22px; content: "\e66b"; }

.icon-shichang:before {font-size:22px; content: "\e66c"; }

.icon-yasuozhuanyunzhan:before {font-size:22px; content: "\e66d"; }

.icon-shigongdian:before {font-size:22px; content: "\e66e"; color:red; }

.icon-huanweixiuxishi:before {font-size:22px; content: "\e66f"; color:red; }

.icon-huanweisuo:before {font-size:22px; content: "\e670"; color:red; }

.icon-guangchang:before {font-size:22px; content: "\e671"; }

.icon-shishijiankong-user:before { content: "\e605"; font-size:13px;color: #ffffff;}

.icon-shishijiankong-cheliangzuoye:before { content: "\e60c"; font-size:13px;color: #ffffff;}

.icon-shishijiankong-sheshiguanli:before { content: "\e613"; font-size:13px;color: #ffffff;}

.icon-shishijiankong-luxian:before { content: "\e60f"; font-size:13px;color: #ffffff;}

.icon-shishijiankong-quyu:before { content: "\e610"; font-size:13px;color: #ffffff;}

.icon-shishijiankong-user_B:before { content: "\e605"; font-size:13px;color: #667D26;}

.icon-shishijiankong-cheliangzuoye_B:before { content: "\e60c"; font-size:13px;color: #667D26;}

.icon-shishijiankong-sheshiguanli_B:before { content: "\e613"; font-size:13px;color: #667D26;}

.icon-shishijiankong-luxian_B:before { content: "\e60f"; font-size:13px;color: #667D26;}

.icon-shishijiankong-quyu_B:before { content: "\e610"; font-size:13px;color: #667D26;}

.icon-shishijiankong-renyuanjiankong:before { content: "\e612"; font-size:13px;color: #667D26;}

.icon-white-user:before { content: "\e605"; font-size:13px;color: #ffffff;}

.icon-white-cheliangzuoye:before { content: "\e60c"; font-size:13px;color: #ffffff;}

.icon-white-sheshiguanli:before { content: "\e613"; font-size:13px;color: #ffffff;}

.icon-white-luxian:before { content: "\e60f"; font-size:13px;color: #ffffff;}

.icon-white-quyu:before { content: "\e610"; font-size:13px;color: #ffffff;}

.icon-white-renyuanjiankong:before { content: "\e612"; font-size:13px;color: #ffffff;}

.icon-Tab-renyuanzhuangtai:before {font-size:13px; content: "\e65e";color: #667D26;}

.icon-Tab-renyuanfenlei:before {font-size:13px; content: "\e662";color: #667D26;}

.icon-Tab-cheliangzhuangtai:before {font-size:15px; content: "\e64e";color: #667D26;}

.icon-Tab-cheliangzuoye:before {font-size:13px; content: "\e60c";color: #667D26;}

.icon-Tab-sheshifenlei:before {font-size:13px; content: "\e668";color: #667D26;}

.icon-Tab-luxian:before {font-size:13px; content: "\e60f";color: #667D26;}

.icon-Tab-baojiequyubaojieluxianliebiao:before {font-size:13px; content: "\e65c";color: #667D26;}

.icon-Tab-zhuanyunluxianshouyunquyu:before {font-size:13px; content: "\e659";color: #667D26;}

.icon-Tab-quyufenlei:before {font-size:13px; content: "\e65b";color: #667D26;}

.icon-renyuanditubiaoji:before {font-size:13px; content: "\e672"; color: #667D26;}

.icon-renyuanchaxun-xiangmufujingli:before {font-size:20px; content: "\e673"; color: #ABD111}

.icon-renyuanchaxun-siji1:before {font-size:20px; content: "\e674";color: #FF5C77 }

.icon-renyuanchaxun-baojieyuan:before {font-size:20px; content: "\e675"; color: #9E76AC}

.icon-renyuanchaxun-jicharen:before {font-size:20px; content: "\e676"; color: #71B33E}

.icon-renyuanchaxun-zhuguan1:before {font-size:20px; content: "\e677"; color: #FF8C5C}

.icon-renyuanchaxun-xiangmujingli:before {font-size:20px; content: "\e678"; color: #DE3E33}

.icon-renyuanchaxun-banzuchang1:before {font-size:20px; content: "\e661"; color: #5C8AFF}

.icon-dexktop-cheliangzuoye:before { content: "\e60c"; font-size:25px;color: #667D26;}

.icon-dexktop-user:before { content: "\e605"; font-size:25px;color: #667D26;}

.icon-dexktop-changzhanyunying:before { content: "\e60b"; font-size:25px;color: #667D26;}

.icon-dexktop-sheshiguanli:before { content: "\e613"; font-size:25px;color: #667D26;}

.icon-chuxueche:before { content: "\e67b"; font-size:30px;color: #0040CC;}

.icon-lajishouzhuanyunche:before { content: "\e67c"; font-size:30px;color: #0040CC;}

.icon-qingxisashuiche:before { content: "\e67d"; font-size:30px;color: #0040CC;}

.icon-shizhenyanghuche:before { content: "\e67e"; font-size:30px;color: #0040CC;}

.icon-saoluche:before { content: "\e67f"; font-size:30px;color: #0040CC;}

.icon-xisaoche:before { content: "\e680"; font-size:30px;color: #0040CC;}

.icon-lajiyasuoche:before { content: "\e681"; font-size:30px;color: #0040CC;}

.icon-xinnengyuanhuanweiche:before { content: "\e682"; font-size:30px;color: #0040CC;}