.row-view {
	border-width:1px;
	border-style:solid;
    border-color:#ededed !important;
    border-top-color:#fff !important;

}
.col-view {
	float: left;
	width: 230;
}
.cl_text {
	text-align: right;
}
.cl_content {
	clear: both;
}
. my-row-selected {
	background-color: #dfe8f6 !important;
	background-image: none;
	border-color: #a3bae9;
}
.user_complement {
	padding-top:4px;
	padding-left: 20px;
	background-position: 5px 3px;
	background-repeat: no-repeat;
	background-image: url(icons/user_comment.png) !important;
	font: normal 12px tahoma,arial,helvetica;
	color: #416aa3;
}


.icon-dispatch {
	background-image: url(icons/dispatch.png) !important;
}

.icon-flow {
	background-image: url(icons/flow.gif) !important;
}

.icon-handler {
	background-image: url(icons/handler.png) !important;
}

.icon-lock-open {
	background-image: url(icons/lock_open.gif) !important;
}

.icon-lock-start {
	background-image: url(icons/lock_start.gif) !important;
}

.icon-outtime {
	background-image: url(icons/outtime.png) !important;
}

.icon-page_excel {
	background-image: url(icons/page_excel.png) !important;
}

.icon-printer {
	background-image: url(icons/printer.png) !important;
}

.icon-stop {
	background-image: url(icons/stop.png) !important;
}

.icon-signature {
	background-image: url(icons/text_signature.png) !important;
}
.icon-dissignature {
	background-image: url(icons/text_dissign.png) !important;
}
.icon-group {
	background-image: url(icons/group_go.png) !important;
}
.icon-prior {
	background-image: url(icons/prior.png) !important;
}
.icon-information {
	background-image: url(icons/information.png) !important;
}
.icon-batch-handler {
	background-image: url(icons/batch_handler.png) !important;
}

.icon-text_complete {
	background-image: url(icons/text_complete.png) !important;
}
.icon-group_add {
	background-image: url(icons/group_add.png) !important;
}

.icon-note_go {
	background-image: url(icons/note_go.png) !important;
}
.icon-user_tick {
	background-image: url(icons/user_tick.png) !important;
}
.icon-page_white_magnify {
	background-image: url(icons/page_white_magnify.gif) !important;
}
.icon-image_magnify {
	background-image: url(icons/image_magnify.png) !important;
}
.icon-brick_magnify {
	background-image: url(icons/brick_magnify.png) !important;
}
.icon-user_magnify {
	background-image: url(icons/user_magnify.png) !important;
}

.work_timeout div{
	color: red;
}

.work_early div{
	color: blue;
}